.button {
  font-family: @oswald;
  background-color: @basic-green;
  color: @white;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 7px;
  padding-bottom: 7px;
  display: inline-block;
  border: none;
  vertical-align: middle;
}
