.cooperation {
  padding-top: 28px;
  padding-bottom: 28px;
}

.cooperation__title {
  font-family: @Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @black;
  text-transform: uppercase;
  margin: 0;
}

.cooperation__adress {
  font-size: 14px;
  line-height: 20px;
  color: @black;
  margin: 0;
}
