.cooperation {
  padding-top: 28px;
  padding-bottom: 28px;

  &--background-grey {
    background-color: @background-grey;
  }
}

.cooperation__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @black;
  text-transform: uppercase;
  margin: 0;
}

.cooperation__adress {
  font-family: @arial;
  font-size: 14px;
  line-height: 20px;
  color: @black;
  margin: 0;
}
