.head-block {
  background: linear-gradient(fade(@green, 85%), fade(@green, 85%)), url("../img/head-block_background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 302px;
  background-position: center top;
  padding-top: 27px;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    background: url("../img/index-can-tablet.png") no-repeat;
    background-size: auto 609px;
    background-position: bottom center;
    padding-left: 117px;
    padding-bottom: 609px;
  }

  @media (min-width: @desktop-width) {
    background: linear-gradient(fade(@green, 85%), fade(@green, 85%)), url("../img/index-background-desktop.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 720px 100%;
  }
}

.head-block__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    align-items: flex-start;
  }
}

.head-block__button {
  align-self: stretch;
}

.head-block__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 25px;
  color: @white;
  max-width: 250px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: @black;
    max-width: 414px;
  }
}

.head-block__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 29px;
  color: @white;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: @black;
    text-align: start;
  }
}

.head-block__image {
  display: block;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
