.head-block {
  background: url("../../img/Rectangle_green.png") no-repeat, url("../../img/head-block_background.jpg") no-repeat;
  color: @white;
  font-family: @Oswald;
  padding-top: 27px;
}

.head-block__title {
  font-family: @Oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 25px;
}

.head-block__slogan {
  font-family: @Oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 29px;
}
