.main-nav__list {
  .ul-style-reset ();
}

.main-nav__item {
  padding-top: 22px;
  padding-bottom: 24px;
}

.main-nav__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: @black;
  text-transform: uppercase;
}
