.page-header__burger {
  .button-style-reset();
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 10px;
  cursor: pointer;

  &--open {
    background: url("../img/burger-open.svg") no-repeat;
  }

  &--close {
    background: url("../img/burger-close.svg") no-repeat;
  }
}
