.program {
  background-color: @background-grey;
  padding-top: 30px;
  padding-bottom: 22px;
  padding-left: 22px;
  padding-right: 33px;

  @media (min-width: @tablet-width) {
    padding-top: 77px;
    padding-bottom: 53px;
    padding-left: 53px;
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    padding-right: 279px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 61px;
  }
}

.program__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: @black;
  margin: 0;
  margin-bottom: 29px;
  padding-left: 69px;

  @media (min-width: @tablet-width) {
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 214px;
  }
}


.program__text {
  font-family: @arial;
  margin: 0;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 48px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 23px;
  }
}

.program__link {
  font-size: 16px;
  line-height: 16px;
  color: @black;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
