.slider__slide {
  background-repeat: no-repeat;
  width: 100%;
  height: 240px;

  &--before {
    background-image: url("../../img/before-mobile.png");
    display: none;
  }

  &--after {
    background-image: url("../../img/after-mobile.png");
    display: block;
  }
}

.slider__button {
  font-weight: 400;
  background: none;
  border: none;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
