// Colors

@basic-green: #68B738;
@white: #FFFFFF;
@black: #000000;
@dark-grey: #444444;
@program-background-grey: #F2F2F2;
@example-background-grey: #EAEAEA;


// Fonts

@Oswald: "Oswald", "Arial", sans-serif;
@Arial: "Arial", "Helvetica", sans-serif;
