// Colors

@basic-green: #68B738;
@white: #FFFFFF;
@black: #000000;
@dark-grey: #444444;
@dark-grey-2: #222222;
@background-grey: #F2F2F2;
@example-background-grey: #EAEAEA;
@light-grey: #cfcfcf;
@border-input-grey: #E7E7E7;


// Fonts

@oswald: "Oswald", "Arial", sans-serif;
@arial: "Arial", "Helvetica", sans-serif;
